*{
    box-sizing: border-box;/*чтобы учитывал ширину целого элемента вмесет с рамкой, отступом и так далее, всегда начинать с этого!!!!*/
}
body {
    font-family: "Noto Serif", serif;
	/*font: 20px verdana;*/
	margin: 0;
}
.container {
	margin: 0 auto; 
	max-width: 1366px;
    
}
header, footer {
	width: 100%;
}
header {
	align-items: center;
	display: flex;
	justify-content: space-between;
    height: 15%;
    position: sticky;
    background-color: #ffffff;
    top: 0;
    z-index: 1000; /* Чтобы шапка была поверх других элементов */
}	
div.header-left {
	align-items: center;
	display: flex;
}
div.header-right{
    align-items: center;
    display:flex;
    justify-content: flex-end;
}
.header-right div{
    margin-right: 30px;
}
.header-right button{
    background-color: #BC987E; /* Коричневый цвет фона */
    color: #000000; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Курсор при наведении */
    font-size: 12px; /* Размер шрифта */
    transition: background-color 0.3s; /* Плавный переход цвета при наведении */
}
.header-right button:hover{
    background-color: #cea997;
}
.header-right input[type="text"] {
    background-color: #ffffff; /* Коричневый цвет фона */
    color: #000000; /* Цвет текста */
    /*border: none; /* Убираем границу */
    padding: 10px; /* Отступы внутри поля ввода */
    border-radius: 5px; /* Закругление углов */
    font-size: 12px; /* Размер шрифта */
}
main {
    width: 100%; /* Убедитесь, что main занимает всю ширину */
    height: 400px;
    background: #ffffff;
    /*display: flex;*/
}

div.logo {
	margin: 30px;
}
div.logo img {
	width: 60px;
	height: 60px;
}
ul.top-menu {
	display: flex;
	justify-content: left;
	list-style: none;
	margin: 0;
	padding: 0;
    position: sticky;
    top: 0; /* Закрепляем вверху */
    z-index: 1000; /* Чтобы шапка была поверх других элементов */
}
ul.top-menu li {
	width: 100%;
    justify-content: left
}
ul.top-menu a {
	background: #BC987E;
	color: #000000;
	display: block;
	margin-bottom: 3px;
	padding: 5px 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
}
ul.top-menu a:hover {
	background: #cea997;
}
.Basket img{
    
    width: 30px;
	height: 30px;
}
.navbar {
    background-color: #ffffff; /* Цвет фона навигационной панели */
    padding: 0px; /* Отступы внутри навигационной панели */
    margin-left: 30px;
    margin-bottom: 30px;
}

.nav-list {
    list-style-type: none; /* Убираем маркеры у списка */
    margin: 0;
    padding: 0;
}

.nav-list li {
    display: inline-block; /* Выводим элементы списка в одну строку */
    /*position: relative; /* Для позиционирования псевдоэлемента */
}
.separator{
    margin: 0 5px; /* Устанавливаем небольшой отступ между ссылками и разделителями */
}
.nav-link {
    /*margin-left: 20px;*/
    color: #808080; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    font-size: 12px; /* Размер шрифта ссылок */
    margin-top: 0px;
    padding: 0; /* Отступы вокруг текста ссылок */
}
.nav-link:hover {
    color: #000;
}
.wrapper {
    display: flex;
    justify-content: center; /* Центрируем содержимое */
}

.tovars {
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальное направление для товаров */
    margin: 10px; /* Отступы между товарами */
}

.tovar {
    display: flex; /* Используем flexbox для расположения элементов внутри товара */
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: space-between; /* Распределяем пространство между элементами */
    padding: 10px; /* Отступы внутри товара */
    border: 1px solid #ccc; /* Граница вокруг товара */
    border-radius: 5px; /* Закругление углов */
    position: relative; /* Для позиционирования кнопки удаления */
    text-decoration: none;
    color: #000000;
}
.tovar-name{
    text-decoration: none;
}
.tovar-name:hover{
    font-weight: 700;
}
.tovar img:first-child {
    width: 80px; /* Размер изображения товара */
    height: auto; /* Автоматическое сохранение пропорций */
    margin-right: 10px; /* Отступ справа от изображения */
}

.tovar-name {
    flex-grow: 1; /* Занимает всё доступное пространство*/
    text-decoration: none;
}

.price, .two-price {
    margin-left: 80px; /* Отступ слева от цены */
    margin-right: 80px;
}
input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none; /* Для Chrome, Safari и Edge */
            margin: 0;
        }
.regulation {
    display: inline-flex; /* Используем flexbox для регулировки количества товара */
    align-items: center; /* Выравнивание по центру по вертикали */
}

.regulation-btn {
    width: 30px; /* Ширина кнопок регулировки */
    height: 30px; /* Высота кнопок регулировки */
}

.regulation-input {
    width: 40px; /* Ширина поля ввода количества товара */
    height: 30px; /* Высота поля ввода */
    text-align: center; /* Центрируем текст */
}

.tovar img:last-child {
    position: absolute; /* Позиционируем кнопку удаления */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    width: 20px; /* Ширина кнопки удаления */
    height: auto; /* Автоматическое сохранение пропорций */
}

.tovars {
    margin-bottom: 20px;
}
.basket-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.basket-summary input[type="button"]{
    background-color: #BC987E; /* Коричневый цвет фона */
    color: #000000; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Курсор при наведении */
    font-size: 16px; /* Размер шрифта */
    transition: background-color 0.3s; /* Плавный переход цвета при наведении */
}
.basket-summary input[type="button"]:hover{
    background-color: #cea997;
}
.total {
    font-weight: bold;
}
.pay{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.pay input{
    background-color: #BC987E; /* Коричневый цвет фона */
    color: #000000; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Курсор при наведении */
    font-size: 16px; /* Размер шрифта */
    transition: background-color 0.3s; /* Плавный переход цвета при наведении */
    margin-top: 20px;
}
.pay input:hover{
    background-color: #cea997;
}

footer {

    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
    background: #BC987E

}  
.logo img{
    width: 60px;
    height: 60px;
}
div.footer-left {
    display: flex;
    align-items: flex-start;
    /*margin-right: 10%;*/
    margin-left: 30px;
}
.logo,.catalogfooter,.additionally{
    margin-right: 20px;
    text-decoration: none;
    color: #000000;
    /*каталог*/
}
.catalogfooter{
    font-weight: bold;
    font-size: 14px;
}
.catalogfooter:hover{
    font-weight: 400;
}
.additionally{
    display: flex;
    flex-direction: column;
    
}
.additionally-title{
    text-decoration: none;
    color:#000000;
    font-weight: bold;
    font-size: 14px;
}
.additionally ul{
list-style-type: none;
padding: 0;
margin: 0;
}
.additionally li a{         /*Обращение к подпунктам дополнительно*/
    margin-top: 5px;
   text-decoration: none;
    color: #000000;
    font-size: 12px;
}
.additionally li a:hover{
    font-weight: bold;
}

div.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
}
.footer-right a{
    text-decoration: none;/*обращение к телефону и емейлу*/
    color:#000000;
    font-size: 12px;

}
.footer-right a:hover{
    font-weight: bold;
}
.footer-right .button,
.footer-right .phone,
.footer-right .e-mail {
    margin-bottom: 5px; /* Задаем отступ снизу для каждого элемента */
}

.footer-right .e-mail {
    margin-bottom: 0; /* Убираем отступ у последнего элемента */
}
.footer-right input[type="button"]{
    background-color: #000000; /* Коричневый цвет фона */
    color: #BC987E; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Курсор при наведении */
    font-size: 12px; /* Размер шрифта */
    transition: background-color 0.3s; /* Плавный переход цвета при наведении */
}