*{
    box-sizing: border-box;/*чтобы учитывал ширину целого элемента вмесет с рамкой, отступом и так далее, всегда начинать с этого!!!!*/
}
body {
    font-family: "Noto Serif", serif;
	margin: 0;
}
.container {
	margin: 0 auto; 
	max-width: 1366px;
}
header, footer {
	width: 100%;
}
header {
	align-items: center;
	display: flex;
	justify-content: space-between;
    height: 15%;
    position: sticky;
    background-color: #ffffff;
    top: 0;
    z-index: 1000; /* Чтобы шапка была поверх других элементов */
}	
div.header-left {
	align-items: center;
	display: flex;
}
div.header-right{
    align-items: center;
    display:flex;
    justify-content: flex-end;
}
.header-right div{
    margin-right: 30px;
}
.header-right button{
    background-color: #BC987E; /* Коричневый цвет фона */
    color: #000000; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Курсор при наведении */
    font-size: 12px; /* Размер шрифта */
    transition: background-color 0.3s; /* Плавный переход цвета при наведении */
}
.header-right button:hover{
    background-color: #cea997;
}
.header-right input[type="text"] {
    background-color: #ffffff; /* Коричневый цвет фона */
    color: #000000; /* Цвет текста */
    padding: 10px; /* Отступы внутри поля ввода */
    border-radius: 5px; /* Закругление углов */
    font-size: 12px; /* Размер шрифта */
}
main {
	width: 77%;
	height: 1800px;
    margin: 0 auto; /* Центрируем блок main */
    padding: 20px;
    flex-direction: column;
}
div.logo {
	margin: 30px;
}
div.logo img {
	width: 60px;
	height: 60px;
}
ul.top-menu {
	display: flex;
	justify-content: left;
	list-style: none;
	margin: 0;
	padding: 0;
    position: sticky;
    top: 0; /* Закрепляем вверху */
    z-index: 1000; /* Чтобы шапка была поверх других элементов */
}
ul.top-menu li {
	width: 100%;
    justify-content: left
}
ul.top-menu a {
	background: #BC987E;
	color: #000000;
	display: block;
	margin-bottom: 3px;
	padding: 5px 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
}
ul.top-menu a:hover {
	background: #cea997;
}
.Basket img{
    
    width: 30px;
	height: 30px;
}
aside {
    margin-top: 60px;
	width: 23%;
	height: 930px;
	background: #ffffff;
    box-shadow: 0 4px 15px rgba(211, 211, 211, 0.5); /* Тень для бокового меню */
}
.wrapper {
	display: flex;
}
.navbar {
    background-color: #ffffff; /* Цвет фона навигационной панели */
    padding: 0px; /* Отступы внутри навигационной панели */
}

.nav-list {
    list-style-type: none; /* Убираем маркеры у списка */
    margin: 0;
    padding: 0;
}

.nav-list li {
    display: inline-block; /* Выводим элементы списка в одну строку */
    position: relative; /* Для позиционирования псевдоэлемента */
}

.nav-link {
    margin-left: 20px;
    color: #808080; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    font-size: 14px; /* Размер шрифта ссылок */
    margin-top: 0px;
}
.nav-link:hover {
    color: #000;
}
ul.left-menu {
	list-style: none;
    list-style-type: none;
	margin: 0;
	padding: 0;
    width: 230px;
    margin-top: 10px;
    margin-left: 20px;
}
.parameter-label {
    font-weight: bold; /* Жирный шрифт для названий параметров */
}
.left-menu div {
    padding-left: 20px; /* Отступ для подпараметров */
    margin-bottom: 10px; /* Отступ между подгруппами */
}
.left-menu input[type=radio] {
    display: none; /* Скрываем стандартные радиокнопки */
}
.left-menu input[type=radio] + label {
    position: relative;
    padding-left: 30px; /* Отступ для метки */
    cursor: pointer; /* Курсор при наведении */
}
.left-menu input[type=radio] + label::before {
    content: ''; /* Псевдоэлемент для создания квадрата */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px; /* Ширина квадрата */
    height: 10px; /* Высота квадрата */
    border: 1px solid #000; /* Цвет и толщина рамки */
    background-color: #fff; /* Цвет фона */
}
.left-menu input[type=radio]:checked + label::before {
    background-color: #000; /* Цвет квадрата при выборе */
}
main{
    width: 75%;
    display: flex;
}
.price-filter{
    width:300px;
}
.sort {
    margin-left: 20px; /* Отступ слева для блока сортировки */
    margin-top: 50px; /* Отступ сверху для блока сортировки */
}
.sort-select {
    width: 200px; /* Измените ширину по вашему усмотрению */
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ffffff; /* Цвет границы */
    border-radius: 3px; /* Закругление углов */
    background-color: #fff; /* Цвет фона */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Позиция стрелки */
    background-size: 10px; /* Размер стрелки */
    cursor: pointer; /* Курсор при наведении */
    box-shadow: 0 4px 15px rgba(211, 211, 211, 0.5); /* Светло-светло-серая тень */
}
.sort-select:focus {
    outline: none; /* Убирает обводку при фокусе */
    border-color: #BC987E; /* Цвет границы при фокусе */
}
div.catalog{
    flex-grow: 1;
    display: flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    margin-left: 10px;
    margin-top: 30px;
}

div.product{
    background: #ffffff;
	color: #000000;
	text-decoration: none;
	margin: 10px;
	padding: 10px 0;
	text-align: center;
	width:  calc(25% - 20px);
    border-radius: 5px; /* Закругленные углы */
    display: flex; /* Используем Flexbox для выравнивания */
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центрируем элементы по горизонтали */
    height: 350px; /* Фиксированная высота карточки */
    transition: box-shadow 0.3s ease;
}
div.product:hover{
    box-shadow: 0 4px 15px rgba(211, 211, 211, 0.5); /* Светло-светло-серая тень */
}
div.product img{
    width: 150px;
    display: block; /* Блочный элемент для центрирования */

}
.product-name {
    margin-bottom: 10px; /* Отступ между названием и изображением */
    min-height: 90px; /* Минимальная высота для названия */
    display: flex; /* Используем Flexbox для выравнивания текста */
    justify-content: center; /* Центрируем текст по горизонтали */
    align-items: center; /* Центрируем текст по вертикали */
}
div.price {
	font-weight: bold;
    margin: 10px 0; /* Отступы вокруг цены */
}
.Basket {
    margin-top: auto; /* Отступ сверху для кнопки "В корзину" */
}
.Basket button {
    background-color: #BC987E; /* Цвет кнопки */
    color: #000000; /* Цвет текста кнопки */
    border: none; /* Убираем рамку */
    padding: 10px 15px; /* Отступы внутри кнопки */
    text-align: center; /* Выравнивание текста */
    text-decoration: none; /* Убираем подчеркивание */
    display: inline-block; /* Делаем кнопку блочным элементом */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор при наведении */
    border-radius: 5px; /* Закругленные углы кнопки */
}
.Basket button:hover {
    background-color: #cea997; /* Цвет кнопки при наведении */
}
footer {

    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
    background: #BC987E
}  
.logo img{
    width: 60px;
    height: 60px;
}
div.footer-left {
    display: flex;
    align-items: flex-start;
    /*margin-right: 10%;*/
    margin-left: 30px;
}
.logo,.catalogfooter,.additionally{
    margin-right: 20px;
    text-decoration: none;
    color: #000000;
    /*каталог*/
}
.catalogfooter{
    font-weight: bold;
    font-size: 14px;
}
.catalogfooter:hover{
    font-weight: 400;
}
.additionally{
    display: flex;
    flex-direction: column;
    
}
.additionally-title{
    text-decoration: none;
    color:#000000;
    font-weight: bold;
    font-size: 14px;
}
.additionally ul{
list-style-type: none;
padding: 0;
margin: 0;
}
.additionally li a{         /*Обращение к подпунктам дополнительно*/
    margin-top: 5px;
   text-decoration: none;
    color: #000000;
    font-size: 12px;
}
.additionally li a:hover{
    font-weight: bold;
}
div.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
}
.footer-right a{
    text-decoration: none;/*обращение к телефону и емейлу*/
    color:#000000;
    font-size: 12px;

}
.footer-right a:hover{
    font-weight: bold;
}
.footer-right .button,
.footer-right .phone,
.footer-right .e-mail {
    margin-bottom: 5px; /* Задаем отступ снизу для каждого элемента */
}
.footer-right .e-mail {
    margin-bottom: 0; /* Убираем отступ у последнего элемента */
}
.footer-right input[type="button"]{
    background-color: #000000; /* Коричневый цвет фона */
    color: #BC987E; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Курсор при наведении */
    font-size: 12px; /* Размер шрифта */
    transition: background-color 0.3s; /* Плавный переход цвета при наведении */
}
